.App {
  text-align: center;
}

.App-title {
  position: relative;
  font-size: 3em;
  color: #7FDBFF;
  margin: .5em 0 0 0;
}

.App-sub-title {
  position: relative;
  font-size: 1.5em;
  color: #004d99;
  margin: 0;
  top: 0;
}

.file-input {
  display: none;
}

.upload-button {
  position: relative;
  background-color: transparent;
  border-color: #FF851B;
  border-style:solid;
  outline: 0;
  color: #FF851B;
  font-size: 1.7em;
  top: 2em;
  cursor: pointer;
  border-radius: 2em;
  padding: .15em;
}

.upload-button:hover {
  background-color: #FF851B;
  color: white;
}

.upload-button:active {
  background-color: #e66b00;
  border-color: #e66b00;
}

